<% @body_id = 'signup' %>

<% 
pr_captcha_number_1 = rand(4)+1
pr_captcha_number_2 = rand(4)+1
%>

<%= render "shared/error_messages", :target => @user %>

<div id="new-customer">
  <h2><%= t("new_customer") %></h2>

  <%= hook :signup do %>

    <%= form_for(:user, :url => registration_path(@user)) do |f| %>

      <%= hook :signup_inside_form do %>
        <%= render 'shared/user_form', :f => f %>
        <input id="pr_captcha_number_1" name="pr_captcha_number_1" type="hidden" value="<%= pr_captcha_number_1 %>" />
        <input id="pr_captcha_number_2" name="pr_captcha_number_2" type="hidden" value="<%= pr_captcha_number_2 %>" />
        <p>
          <%= f.label :email, "What is #{pr_captcha_number_1} + #{pr_captcha_number_2} ?" %><br/>
          <%= text_field_tag :pr_captcha_number_total, "", :class => 'title' %>
        </p>
        <p><%= submit_tag t("create"), :class => 'button primary' %></p>
      <% end %>

    <% end %>
    <%= t("or") %> <%= link_to t("login_as_existing"), login_path %>
  <% end %>

</div>

<%= hook :login_extras %>